# Dependências
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/

# Env
.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
